name: everything_search_engine
description: A package that wraps Everything SDK API calls using FFI to make them accessible to Dart code.
version: 0.0.2
repository: https://github.com/Krysl/DartPackage-EverythingSearchEngine
issue_tracker: https://github.com/Krysl/DartPackage-EverythingSearchEngine/issues

platforms:
  windows:

environment:
  sdk: '>=2.17.5 <3.0.0'
  flutter: '>=1.17.0'

dependencies:
  ffi: ^2.0.1
  flutter:
    sdk: flutter
  path: ^1.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
  ffigen: ^6.0.1
  assets_gen: ^1.2.0
  http: ^0.13.5
  html: ^0.15.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # To add assets to your package, add an assets section, like this:
  assets:
    #   - images/a_dot_burr.jpeg
    #   - images/a_dot_ham.jpeg
    - thirdparty/dll/Everything64.dll
    - assets/icon/*
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
assets_gen:
  enable: true
  output: src/assets.dart
  omit_path_levels: 2
